.dialog-pane {
    -fx-background-color: #333333; /* Fondo de la alerta */
    -fx-border-color: #B35932; /* Borde */
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.dialog-pane .content.label {
    -fx-text-fill: white; /* Color del texto del mensaje */
}

.button {
    -fx-background-color: #B35932;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #FF9755;
}