/* Fondo del menú lateral */
.panel {
	-fx-border-color: #993026;
    -fx-border-width: 2px;
}

.menu-lateral {
    -fx-background-color: #333;
    -fx-min-width: 150;
    -fx-pref-width: 150;
    -fx-max-width: 150;
}

/* Estilo general de los botones */
.menu-boton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-min-width: 150;
    -fx-min-height: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;
}

/* Efecto hover */
.menu-boton:hover {
    -fx-background-color: #777;
}

.menu-boton.activo {
    -fx-background-color: #FF9755;
}

.barra {
	-fx-background-color: #333;
	-fx-min-height: 100;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0.1, 5, 0);	
}

.barra-boton {
	-fx-background-color: #444;
	-fx-min-height: 100;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-min-width: 100;
	-fx-pref-width: 100;
	-fx-max-width: 100;	
}

.barra-boton:hover {
	-fx-background-color: #777;

}

.barra-boton:pressed {
	-fx-background-color: #999;
}

.barra-superior {

	-fx-background-color: linear-gradient(to bottom, #FF9755, #B35932);
	-fx-min-height: 50;
	-fx-pref-height: 50;
	-fx-max-height: 50;
	-fx-text-fill: white;
	-fx-font-size: 16;
	-fx-border-color: #B35932;
	
}

.barra-superior Label {
    -fx-text-fill: white;
    -fx-font-size: 16;
}


.barra-superior .button {
	-fx-background-color: linear-gradient(to bottom, #FF9755, #B35932);
	-fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-min-height: 48;
	-fx-pref-height: 48;
	-fx-max-height: 48;
	-fx-min-width: 50;
	-fx-pref-width: 50;
	-fx-max-width: 50;	
	-fx-cursor: hand;
	-fx-effect: null;
}

.barra-superior .button:hover {
	-fx-background-color: #FFB78A;
}

.barra-superior .button:pressed {
	-fx-background-color: #FFE4D6;
}
