.table-view {
    -fx-border-color: #333;
    -fx-border-width: 5;
    -fx-pref-width: 390px;
    -fx-min-height: 150px;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}

.table-view .text {
  	-fx-fill: white;
  	-fx-font-family: "Arial";
  	-fx-font-size: 14;
    -fx-text-alignment: center;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
}

.table-view .column-header-background .columna-personalizada {
  	-fx-background-color: linear-gradient(to bottom, #FF9755, #B35932);
  	-fx-pref-height: 30;
}

.table-row-cell {
    -fx-pref-height: 40;
    -fx-background-color: #333;
    -fx-border-color: #333;
}

.table-cell {
    -fx-border-color: #333;
    -fx-alignment: CENTER;
}
